:root {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 1024px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#container::before {
  background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%),linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
  background-size: 100% 2px, 3px 100%;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2
}

#container canvas {
  position: absolute;
  top: 0;
  left: 12px;
  opacity: 0.95;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
}

#container #scroller {
  position: absolute;
  background-repeat: repeat;
  height: 256px;
  width: 3072px;
  animation: scroll 240s linear infinite;
}

#sequencer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  opacity: 0.8;
}

#sequencer input {
  -webkit-appearance: none;
  appearance: none;
  margin: 3px;
  width: 20px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  place-content: center;
}

#sequencer input:nth-child(4n) {
  margin-right: 12px;
}

#sequencer input::before {
  content: "";
  display: block;
  width: 16px;
  height: 8px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 2px;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em #3f3;
}

#sequencer input:checked::before {
  transform: scale(1);
}

#sequencer input.active {
  background-color: rgba(255, 193, 7, 0.8);
}

#controls {
  font-family: monospace;
  font-size: 14px;
  position: absolute;
  top: 216px;
  left: 30px;
}

#controls button, #controls label {
  font-family: monospace;
  font-size: 14px;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  border-width: 2px;
  border-style: outset;
  border-color: #686;
}

#controls button:hover, #controls label:hover {
  background: rgba(30, 40, 30, 0.8);
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1024px, 0, 0);
  }
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
